<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Cocktail Finder</a>
    </nav>
    <div class="container">
        <form>
            <div class="form-row">
                <div class="form-group col-md-2 col-sm-3 p-2">
                    <label for="inputState">Filter Type</label>
                    <select id="inputState" class="form-control" (change)="onChangeFilter($event)" [(ngModel)]='selectedFilterType' name="selectedFilterType">
                      <option [value]="filterType.name">{{filterType.name}}</option>
                      <option [value]="filterType.category">{{filterType.category}}</option>
                      <option [value]="filterType.ingredient">{{filterType.ingredient}}</option>
                    </select>
                </div>
                <div class="form-group col-md-9 col-sm-8 p-2" *ngIf="selectedFilterType === filterType.name">
                    <label for="criteria">Name</label>
                    <input type="text" #cocktailNameInput class="form-control" id="criteria" placeholder="Criteria" [(ngModel)]="searchByNameValue" name="searchByNameValue" [value]="searchByNameValue" (input)="cocktailNameInput.value.length > 0 && searchByName()">
                </div>
                <div class="form-group col-md-9 col-sm-8 p-2" *ngIf="selectedFilterType === filterType.category">
                    <label for="categories">Category</label>
                    <select id="categories" class="form-control" (change)="searchByCategory()" [(ngModel)]="searchByCategoryValue" name="searchByCategoryValue">
                  <option *ngFor="let category of categories;let i = index;" [value]="category" [selected]="i==0">{{category}}</option>
                </select>
                </div>
                <div class="form-group col-md-9 col-sm-8 p-2" *ngIf="selectedFilterType === filterType.ingredient">
                    <label for="ingredients">Ingredients</label>
                    <select id="ingredients" class="form-control" (change)="searchByIngredient()" [(ngModel)]="searchByIngredientValue" name="searchByIngredientValue">
                    <option *ngFor="let ingredient of ingredients;let i = index;" [value]="ingredient" [selected]="i==0">{{ingredient}}</option>
                  </select>
                </div>
                <div class="form-group col-md-1 col-sm-1 p-2 d-flex justify-content-center align-items-center">
                    <button class="btn btn-primary" (click)="sortData();">Sort</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="card mb-3 border-dark text-white bg-dark" *ngFor='let cocktail of cockTailList'>
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img src="{{cocktail.strDrinkThumb+'/preview'}}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{cocktail.strDrink}}</h4>
                    <ng-container *ngIf="selectedFilterType === filterType.name">
                        <p class="card-text"><strong>Category : </strong>{{cocktail.strCategory}}</p>
                        <p class="card-text"><strong>Type : </strong>{{cocktail.strAlcoholic}}</p>
                        <p class="card-text"><strong>How To Do It: </strong>{{cocktail.strInstructions}}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>